{% if S_FOUNDER and S_CLOUDFLARE_API %}
{%- set S_CLOUDFLARE_SETTINGS = true -%}
{% if S_CLOUDFLARE_SETTINGS and not INCLUDED_CLOUDFLARE_ACP_CSS %}
{% INCLUDECSS '@alfredoramos_cloudflare/css/style.min.css' %}
{%- set INCLUDED_CLOUDFLARE_ACP_CSS = true -%}
{% endif %}

<form id="cloudflare_purge_cache_form" method="post" action="{{ CLOUDFLARE_PURGE_CACHE_URL }}">
	<dl>
		<dt><label for="cloudflare_purge_cache">{{ lang('CLOUDFLARE_PURGE_CACHE') }}</label><br /><span>{{ lang('CLOUDFLARE_PURGE_CACHE_EXPLAIN') }}</span></dt>
		<dd>
			{% if CLOUDFLARE_PURGE_CACHE_TYPES %}
			<select id="cloudflare_purge_cache_type" name="cloudflare_purge_cache_type" class="cf-field cf-field-block cf-field-cache-type">
				{% for TYPE in CLOUDFLARE_PURGE_CACHE_TYPES %}
				<option value="{{ TYPE.VALUE }}"{% if TYPE.SELECTED %} selected="selected"{% endif %}>{{ TYPE.NAME }}</option>
				{% endfor %}
			</select>
			<details class="cloudflare-value-container" style="display: none">
				<summary>{{ lang('EDIT') }}</summary>
				<textarea id="cloudflare_purge_cadlche_value" name="cloudflare_purge_cache_value" class="cf-field cf-field-cache-value"></textarea>
			</details>
			{% endif %}
			<button type="submit" class="cf-btn cf-btn-block cf-btn-primary">
				<i class="icon fa-cloud fa-fw" aria-hidden="true"></i>
				{{ lang('RUN') }}
			</button>
		</dd>
	</dl>
</form>

{% if S_CLOUDFLARE_SETTINGS and not INCLUDED_CLOUDFLARE_ACP_JS %}
{% INCLUDEJS '@alfredoramos_cloudflare/js/settings.min.js' %}
{%- set INCLUDED_CLOUDFLARE_ACP_JS = true -%}
{% endif %}
{% endif %}
