{% if not INCLUDED_CLOUDFLARE_ACP_CONFIG %}
<script>
	var cloudflareCfg = {
		config: {
			baseURL: '{{ BOARD_URL|escape("js") }}'
		},
		lang: {
			purgeCacheSuccessTitle: '{{ lang("CLOUDFLARE_PURGE_CACHE_SUCCESS_TITLE")|escape("js") }}',
			purgeCacheSuccessBody: '{{ lang("CLOUDFLARE_PURGE_CACHE_SUCCESS_BODY")|escape("js") }}',
			rulesetRulesSuccessTitle: '{{ lang("CLOUDFLARE_RULESET_RULES_SUCCESS_TITLE")|escape("js") }}',
			rulesetRulesSuccessBody: '{{ lang("CLOUDFLARE_RULESET_RULES_SUCCESS_BODY")|escape("js") }}'
		}
	};
</script>
{%- set INCLUDED_CLOUDFLARE_ACP_CONFIG = true -%}
{% endif %}

{% if S_CLOUDFLARE_SETTINGS and not INCLUDED_CLOUDFLARE_ACP_JS %}
{% INCLUDEJS '@alfredoramos_cloudflare/js/settings.min.js' %}
{%- set INCLUDED_CLOUDFLARE_ACP_JS = true -%}
{% endif %}

{% if S_TURNSTILE_AVAILABLE and U_TURNSTILE_SCRIPT and not INCLUDED_TURNSTILE_JS %}
	{% INCLUDEJS U_TURNSTILE_SCRIPT %}
	{%- set INCLUDED_TURNSTILE_JS = true -%}
{% endif %}
