{% include 'overall_header.html' %}

<h1>{{ lang('SETTINGS') }}</h1>
{{ ACP_CLOUDFLARE_SETTINGS_EXPLAIN }}

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<form id="cloudflare_settings" method="POST" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="cloudflare_api_token">{{ lang('CLOUDFLARE_API_TOKEN') ~ lang('COLON') }}</label>
				<br><span>{{ lang('CLOUDFLARE_API_TOKEN_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="password" id="cloudflare_api_token" name="cloudflare_api_token"{% if CLOUDFLARE_API_TOKEN %} value="{{ CLOUDFLARE_API_TOKEN }}"{% endif %} required="required" autocomplete="off" class="medium cf-field-secret">
				<span class="cf-btn cf-btn-icon cf-btn-toggle" title="{{ lang('ACP_CLOUDFLARE_TOGGLE_SECRET', lang('CLOUDFLARE_API_TOKEN'))|striptags|escape('html_attr') }}">
					<i class="icon acp-icon acp-icon-resync fa-eye fa-fw" aria-hidden="true"></i>
				</span>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="cloudflare_zone_id">{{ lang('CLOUDFLARE_ZONE_ID') ~ lang('COLON') }}</label>
				<br><span>{{ lang('CLOUDFLARE_ZONE_ID_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="password" id="cloudflare_zone_id" name="cloudflare_zone_id"{% if CLOUDFLARE_ZONE_ID %} value="{{ CLOUDFLARE_ZONE_ID }}"{% endif %} required="required" autocomplete="off" class="medium cf-field-secret">
				<span class="cf-btn cf-btn-icon cf-btn-toggle" title="{{ lang('ACP_CLOUDFLARE_TOGGLE_SECRET', lang('CLOUDFLARE_ZONE_ID'))|striptags|escape('html_attr') }}">
					<i class="icon acp-icon acp-icon-resync fa-eye fa-fw" aria-hidden="true"></i>
				</span>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_CLOUDFLARE_FIREWALL_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label>{{ lang('ACP_CLOUDFLARE_SYNC') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CLOUDFLARE_SYNC_EXPLAIN', lang('RESYNC')) }}</span>
			</dt>
			<dd>
				<button type="button" class="cf-btn cf-btn-block cf-btn-primary cf-rules-sync"{% if CLOUDFLARE_FIREWALL_SYNC_URL %} data-url="{{ CLOUDFLARE_FIREWALL_SYNC_URL }}"{% else %} disabled{% endif %}>
					<i class="icon fa-refresh fa-fw" aria-hidden="true"></i> {{ lang('RESYNC') }}
				</button>
				<br>
				<div class="cf-info-container">
					<div class="cf-label-ruleset">
						<i class="icon{% if CLOUDFLARE_FIREWALL_RULESET_ID %} acp-icon-settings fa-check{% else %} fa-question{% endif %} fa-fw" aria-hidden="true"></i>
						{{ lang('ACP_CLOUDFLARE_RULESET_ID') }}
					</div>
					<div class="cf-label-rules">
						<i class="icon{% if CLOUDFLARE_FIREWALL_RULESET_RULES_ID %} acp-icon-settings fa-check{% else %} fa-question{% endif %} fa-fw" aria-hidden="true"></i>
						{{ lang('ACP_CLOUDFLARE_RULESET_RULES_ID') }}
					</div>
				</div>
				<input type="hidden" name="cloudflare_firewall_ruleset_id"{% if CLOUDFLARE_FIREWALL_RULESET_ID %} value="{{ CLOUDFLARE_FIREWALL_RULESET_ID }}"{% endif %} autocomplete="off" class="cf-ruleset-id medium">
				<input type="hidden" name="cloudflare_firewall_ruleset_rules_id"{% if CLOUDFLARE_FIREWALL_RULESET_RULES_ID %} value="{{ CLOUDFLARE_FIREWALL_RULESET_RULES_ID }}"{% endif %} autocomplete="off" class="cf-ruleset-rules-id medium">
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_CLOUDFLARE_CACHE_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label>{{ lang('ACP_CLOUDFLARE_SYNC') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CLOUDFLARE_SYNC_EXPLAIN', lang('RESYNC')) }}</span>
			</dt>
			<dd>
				<button type="button" class="cf-btn cf-btn-block cf-btn-primary cf-rules-sync"{% if CLOUDFLARE_CACHE_SYNC_URL %} data-url="{{ CLOUDFLARE_CACHE_SYNC_URL }}"{% else %} disabled{% endif %}>
					<i class="icon fa-refresh fa-fw" aria-hidden="true"></i> {{ lang('RESYNC') }}
				</button>
				<br>
				<div class="cf-info-container">
					<div class="cf-label-ruleset">
						<i class="icon{% if CLOUDFLARE_CACHE_RULESET_ID %} acp-icon-settings fa-check{% else %} fa-question{% endif %} fa-fw" aria-hidden="true"></i>
						{{ lang('ACP_CLOUDFLARE_RULESET_ID') }}
					</div>
					<div class="cf-label-rules">
						<i class="icon{% if CLOUDFLARE_CACHE_RULESET_RULES_ID %} acp-icon-settings fa-check{% else %} fa-question{% endif %} fa-fw" aria-hidden="true"></i>
						{{ lang('ACP_CLOUDFLARE_RULESET_RULES_ID') }}
					</div>
				</div>
				<input type="hidden" name="cloudflare_cache_ruleset_id"{% if CLOUDFLARE_CACHE_RULESET_ID %} value="{{ CLOUDFLARE_CACHE_RULESET_ID }}"{% endif %} autocomplete="off" class="cf-ruleset-id medium">
				<input type="hidden" name="cloudflare_cache_ruleset_rules_id"{% if CLOUDFLARE_CACHE_RULESET_RULES_ID %} value="{{ CLOUDFLARE_CACHE_RULESET_RULES_ID }}"{% endif %} autocomplete="off" class="cf-ruleset-rules-id medium">
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
