#password-generator{
	display: none;
}

.hasjs #password-generator {
	display: block;
}

.password-space-twelve {
	margin-bottom: 22px;
	display: block;
}

.password-reminder {
	margin-top: 22px;
	color: red;
	display: block;
}
