{% INCLUDE 'overall_header.html' %}
<div class="forabg">
	<div class="navbar">
		<noscript>
			<H2>{{ lang('PASSWORD_NOSCRIPT') }}</H2>
		</noscript>
		<div id="password-generator">
			<H2>{{ lang('PASSWORD_TITLE') }}</H2>
			<center>
				<label>
					<H2>{{ lang('PASSWORD_CREATE_INSTRUCTIONS') }}</H2>
					<H2>{{ lang('PASSWORD_COPY_INSTRUCTIONS') }}</H2>
				</label>
				<span class="password-space-twelve"></span>
				<input class="inputbox autowidth" id="randomgenerator" type="text" size="25px" rel="pw-generator" data-size="20" data-character-set="a,A,0,#">
				<input class="button2 getNewPass" type="button" value ="{{ lang('PASSWORD_CREATE') }}">
				<input class="button2" type="button" data-copytarget="#randomgenerator" value ="{{ lang('PASSWORD_COPY') }}">
				<span class="password-reminder">{{ lang('PASSWORD_REMINDER_2') }}</span>
				<span class="password-space-twelve"></span>
			</center>
		</div>
	</div>
</div>
{% INCLUDE 'overall_footer.html' %}
